{% extends 'base.html' %}
{% load chromakin_extras %}
<button type="draw" onclick="draw()">Draw</button>

{% block container %}
<div id="gamecontainer">
    <div id="pilecontainer">
    {% for i in state.piles|length|get_range %}
    <div>
    <object class="pile" data="{{ STATIC_URL }}img/empty_pile.svg"></object>
    <object class="first_card" data="{{ STATIC_URL }}img/card.svg" type="image/svg+xml"></object>
    <object class="second_card" data="{{ STATIC_URL }}img/card.svg" type="image/svg+xml"></object>
    <object class="third_card" data="{{ STATIC_URL }}img/card.svg" type="image/svg+xml"></object>
    </div>
    {% endfor %}
    <div>
        <object class="deck" data="{{ STATIC_URL }}img/deck.svg"></object>
    </div>
    </div>
</div>
<div id="playercontainer">
    {%for p in player_names%}
    <div class="playerbox">
        <span class="playername">{{p}}</span> - <span id="score">0</span><br />
        Wilds: <span class="wilds">0</span>       Bonus: <span class="bonus">0</span><br />
    </div>
    {%endfor%}
</div>
<div id="logcontainer">
 <textarea id="textArea">{{log}}</textarea>
 <div id="textCopy"></div>
</div>
{% endblock %}
